@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: Roboto Mono;
    background-color: #3c3836;
}

.table-home {
    border-spacing: 30px;
    border: 1px solid transparent;
}

.topbar {
    /* background: linear-gradient(to right, #3c3836, orange); */
    background-color: #d79921;
    box-shadow: 0px 0px 18px#3c3836;
    position: sticky;
    top: 0;
    z-index: 1;
    /* overflow: hidden; */
    height: 85px;
}

header {
    z-index: 1;
    top: 0;
    position: sticky;
    /* display: flex; */
    overflow: hidden;
    /* justify-content: space-evenly; */
    align-items: center;
    /* padding: 0px 0%; */
    background-color: #d79921;
    box-shadow: 0px 0px 18px#3c3836;
    /* text-align: center; */
    height: 100px;
}

header ul {
    list-style: none;
}

header li {
    display: inline-block;
    /* padding: 0px 10px; */
}

header li a {
    color: #3c3836;
    font-size: large;
    /* padding: 18px 8px; */
    /* padding-left: 18px;
    padding-right: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px; */
}

.topbar-link {
    /* padding-top: 1.9%; */
    text-align: center;
    /* transform: translateY(150%); */
    padding-top: 38px;
    padding-right: 190px;
    /* text-align: center; */
    /* padding-left: 42%; */
    /* padding-right: 15%; */
    /* padding-top: 2%; */
}

.topbar-link a {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
}

.topbar-link a:hover {
    background-color: #b57614;
    transition: 0.3s;
}

.topbar-link a:not(:hover) {
    transition: 0.3s;
}

.topbar-title {
    /* margin-right: auto; */
    /* margin-right: 30px;
    margin-left: 5%; */
    /* margin-left: 5%; */
    /* text-align: left; */
    transform: translate(50%,50%);
    /* margin-left: 5%; */
    float: left;
    color: #3c3836;
}

.topbar-title h1 {
    /* margin-bottom: 5px; */
    color: #3c3836;
}

.topbar-title h1:hover {
    transition: 0.3s;
    text-shadow: 0px 0px 10px #3c3836;
}

.topbar-title h1:not(:hover) {
    transition: 0.3s;
}

.topbar-account {
    float: right;
    transform: translateY(-80%);
    padding-right: 90px;
}

.topbar-account button {
    /* margin-left: 10px; */
    /* float: right; */
    font-size: large;
    color: #3c3836;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #b57614;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.topbar-account button:hover {
    box-shadow: 0px 0px 7px #282828;
    transition: 0.3s;
}

.topbar-account button:not(:hover) {
    transition: 0.3s;
}

#topbar-logout button:hover {
    /* box-shadow: 0px 0px 7px #3c3836; */
    color: #cc241d;
}

.topbar-menu {
    float: none;
    text-align: center;
    padding-top: 30px;
    padding-right: 8.5%;
}

.topbar-menu a {
    text-decoration: none;
    padding-left: 18px;
    padding-right: 18px;
    font-size: large;
}

.topbar-menu a:hover {
    background-color: #b57614;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    transition: 0.3s;
}

.topbar-menu a:not(:hover) {
    transition: 0.3s;
}

.topbar a:link {
    color: #3c3836;
}

.topbar a:active {
    color: #3c3836;
}

.topbar a:visited {
    color: #3c3836;
}

.about {
    background-color: #3c3836;
    box-shadow: 0px 0px 50px #282828;
    height: auto;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    /* border: 5px solid #fabd2f; */
    border-radius: 15px;
    max-width: 80%;
}

.about h1, .about-watchlist h1 {
    /* font-weight: 100; */
    color: #fabd2f;
    text-align: center;
    padding-top: 3%;
    font-size: 30pt;
}

.about p, .about-watchlist p {
    color: #b57614;
    text-align: center;
    padding-top: 1%;
}

.about img, .about-watchlist img {
    display: block;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.about-watchlist {
    display: flex;
    flex-direction: column;
    background-color: #3c3836;
    box-shadow: 0px 0px 50px #282828;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
}

.about-watchlist form {
    text-align: center;
}

.about-watchlist-input {
    padding-left: 25px;
    padding-right: 70px;
    text-align: center;
    cursor: pointer;
}

.about-watchlist-img {
    background-image: none;
}

.navbar {
    background-color: #d79921;
    height: 85px;
    /* padding-left: 18%; */
    /* padding-right: 18%; */
}

.navbar a {
    text-decoration: none;
    font-size: large;
}

.navbar a:link {
    color: #3c3836;
}

.navbar a:active {
    color: #3c3836;
}

.navbar a:visited {
    color: #3c3836;
}

.navbar-menu {
    padding-top: 30px;
    text-align: center;
}

.navbar-menu a {
    text-decoration: none;
    padding-left: 18px;
    padding-right: 18px;
    font-size: large;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    /* float: none; */
}

.navbar-menu a:hover {
    background-color: #b57614;
    transition: 0.3s;
}

.navbar-menu a:not(:hover) {
    transition: 0.3s;
}

.link {
    color: #fabd2f;
    text-align: center;
}

.contents {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 50px #282828;
    max-width: 90%;
}

table {
    width: 100%;
    margin: auto;
    table-layout: fixed;
}

.table-logo {
    background-color: #d79921;
    height: 180px;
    border: 1px solid transparent;
    border-radius: 15px;
    /* box-shadow: 0px 0px 18px #282828; */
}

.table-logo td {
    border-radius: 15px;
}

.table-logo a {
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    /* margin-bottom: 0px; */
    background-color: #d79921;
    display: block;
    text-align: center;
}

.table-logo a:hover {
    background-color: #b57614;
    transition: 0.3s;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 28px;
    margin-right: 28px;
}

.table-logo a:not(:hover)
{
    transition: 0.3s;
}

/* .table-logo:hover {
    background-color: #fabd2f;
    transition: 0.3s;
} */

.table-coin-name {
    color: #fabd2f;
}

table h3 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.title {
    text-align: center;
    font-size: x-large;
    color: #d79921;
}

.title-button
{
    /* float: left; */
    text-align: center;
    transform: translateY(50%);
    /* transform: translate(18%, 500%); */
}

.image {
    background-color: #b57614;
    margin-left: 9%;
    margin-top: 7%;
    float: left;
    border-radius: 10%;
    padding: 3%;
    border: 10px solid #fabd2f;
    /* border: 5px solid #d79921; */
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 10px #b57614; */
    /* text-shadow: 0px 0px 10px #b57614; */
}

.details {
    table-layout: fixed;
    text-align: center;
    width: 50%;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
    /* border-style: groove; */
    border-radius: 10px;
    /* min-height: 250px; */
}

.details a {
    display: block;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    /* background-color: #dcdcdc; */
}

.details a:link {
    color: #3c3836;
}

.details a:active {
    color: #3c3836;
}

.details a:visited {
    color: #3c3836;
}

.details td {
    border: 1px solid transparent;
    border-radius: 15px;
}

.details-link {
    background-color: #b57614;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.details-link a {
    padding: 10px;
}

.details-link a:hover {
    background-color: #d79921;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding: 10px; */
    /* padding: 5px; */
    font-size: 12pt;
    transition: 0.3s;
}

.details-link a:not(:hover) {
    transition: 0.3s;
}

.details-link-title {
    background-color: #d79921;
    /* min-height: 30px; */
    padding: 30px;
}

.botbar {
    background-color: #3c3836;
    position: relative;
    overflow: hidden;
    height: 340px;
    box-shadow: 0px 0px 50px #1d2021;
}

.botbar h1 {
    padding-top: 7.5%;
    padding-left: 5%;
    color: #fabd2f;
    float: left;
    margin-left: 5px;
}

.botbar span {
    color: #d79921;
    font-size: 18pt;
    padding-right: 2%;
}

.botbar-img {
    text-align: center;
    padding-top: 3%;
    padding-right: 18%;
    float: none;
}

.botbar-social {
    float: right;
    margin-right: 120px;
    margin-top: -155px;
    font-size: 30pt;
}

.botbar-social a {
    margin-right: 20px;
    /* padding-right: 10%; */
    /* padding-left: auto; */
    /* padding-bottom: 15%; */
}

.botbar-social a:link {
    color: #d79921;
}

.botbar-social a:active {
    color: #d79921;
}

.botbar-social a:visited {
    color: #d79921;
}

.botbar-social a:hover {
    color: #fabd2f;
    /* text-shadow: 0px 0px 5px #fabd2f; */
    transition: 0.3s;
}

.botbar-social a:not(:hover) {
    transition: 0.3s;
}

.aboutme {
    border: 5px solid #fabd2f;
    border-radius: 30px;
    padding-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 3%;
    box-shadow: 0px 0px 30px #d79921;
}

.user {
    color: #fabd2f;
    text-align: center;
    font-size: 18pt;
}

.user p {
    color: #d79921;
    font-size: 15pt;
}

.nim {
    color: #fabd2f;
    text-align: center;
    font-size: 18pt;
}

.nim p {
    color: #d79921;
    font-size: 15pt;
}

.group {
    color: #fabd2f;
    text-align: center;
    font-size: 18pt;
}

.group p {
    color: #d79921;
    font-size: 15pt;
}

.social {
    color: #d79921;
    text-align: center;
    font-size: 40pt;

}

.social a {
    padding-left: 2%;
    padding-right: 2%;
}

.social a:link {
    color: #665c54;
}

.social a:active {
    color: #665c54;
}

.social a:visited {
    color: #665c54;
}

.social a:hover {
    color: #fabd2f;
    text-shadow: 0px 0px 10px#fabd2f;
    transition: 0.3s;
}

.social a:not(:hover) {
    transition: 0.3s;
}

.box {
    overflow: hidden;
    height: auto;
    background-color: #3c3836;
    box-shadow: 0px 0px 50px #282828;
    margin-top: 2%;
    margin-right: 6.5%;
    margin-left: 6.5%;
    border-radius: 15px;
    padding-bottom: 3%;
}

.vram {
    text-align: center;
    color: #fabd2f;
    font-weight: bolder;
    font-size: large;
}

.vram-box {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 50px #282828;
    max-width: 90%;
}

.vram-input {
    color: #d79921;
}

.recommend-outside, .register-outside {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.3);
}

.recommend, .register {
    text-align: center;
    color: #d79921;
    font-weight: bolder;
    background-color: #3c3836;
    position: absolute;
	display: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    padding-bottom: 3%;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
    border-radius: 15px;
	box-shadow: 10px 10px #fabd2f;
}

.recommend-open, .register-open {
	display: block;
}

.recommend a {
    text-decoration: none;
}

.recommend a:link {
    color: #fabd2f;
}

.recommend a:active {
    color: #fabd2f;
}

.recommend a:visited {
    color: #fabd2f;
}

.recommend a:hover {
    color: #fabd2f;
    text-shadow: 0px 0px 10px#fabd2f;
    transition: 0.3s;
}

.recommend a:not(:hover) {
    transition: 0.3s;
}

input[type=text] {
    height: 30px;
    width: 15%;
    color: #fabd2f;
    border-radius: 7px;
    box-sizing: border-box;
    border: 2px solid #d79921;
    background-color: #665c54;
    text-align: center;
    transition: 0.2s;
	outline: none;
}

input[type=text]:focus {
    color: #fabd2f;
    background-color: #282828;
}

input[type=password] {
    height: 30px;
    width: 15%;
    color: #fabd2f;
    border-radius: 7px;
    box-sizing: border-box;
    border: 2px solid #d79921;
    background-color: #665c54;
    text-align: center;
    transition: 0.2s;
	outline: none;
}

input[type=password]:focus {
    color: #fabd2f;
    background-color: #282828;
}

input[type=radio] {
    color: #665c54;
    accent-color: #fabd2f;
}

input[type=radio]:checked {
    color: #d79921;
}

input[type=submit] {
    height: 35px;
    width: 5%;
    color: #282828;
    border-radius: 7px;
    background-color: #d79921;
	border: none;
}

input[type=submit]:hover {
	background-color: #fabd2f;
	color: #282828;
    transition: 0.2s;
}

input[type=submit]:not(:hover) {
    transition: 0.2s;
}

button[type=submit], button[type=button] {
    height: 35px;
    width: 5%;
    color: #282828;
    border-radius: 7px;
    background-color: #d79921;
	border: none;
}

button[type=submit]:hover, button[type=button]:hover {
	background-color: #fabd2f;
	color: #282828;
    transition: 0.2s;
}

button[type=submit]:not(:hover), button[type=button]:not(:hover) {
    transition: 0.2s;
}

.close {
    height: 35px;
    width: 20%;
    color: #282828;
    border-radius: 7px;
    background-color: #d79921;
    border: none;
	margin-top: 10%;
}

.close:hover {
    background-color: #fabd2f;
	color: #282828;
    transition: 0.3s;
}

.close:not(:hover) {
    transition: 0.3s;
}

.wish-box {
    text-align: center;
    background-color: #d79921;
    height: 50px;
    border: 1px solid transparent;
    /* box-shadow: 0px 0px 18px #282828; */
}

.wish-box button {
    padding-left: 5%;
    padding-right: 10%;
    /* margin-left: 47%; */
    /* text-align: center; */
    /* margin-left: 40%;
    padding-left: 7%;
    padding-right: 13%;
    padding-top: 1px; */
    /* margin-left: 47%; */
    /* padding-left: 50%; */
}

.wish-box button:hover {
    background-color: #b57614;
}

.wish-box td {
    border-radius: 15px;
}

.login-box {
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0px 0px 50px #282828;
    max-width: 100%;
}

.login {
    padding-top: 1%;
    text-align: center;
    color: #fabd2f;
    font-weight: bolder;
    font-size: large;
}

.login a {
    color: #665c54;
}

.login a:hover {
    color: #d79921;
    /* text-shadow: 0px 0px 10px #d79921; */
    transition: 0.3s;
}

.login a:not(:hover) {
    transition: 0.3s;
}

.account {
    /* padding-top: 1%; */
    width: 100%;
    text-align: center;
    color: #fabd2f;
    font-weight: bolder;
    font-size: large;
}

.account input {
    width: 25%;
}

#account-box {
    display: none;
    border: 5px solid #fabd2f;
    border-radius: 30px;
    padding-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 0%;
    box-shadow: 0px 0px 30px #d79921;
}

.account-button {
    text-align: center;
}

.account-button h3 {
    text-align: center;
    color: #282828;
}

.account-button button {
    background-color: #d79921;
    border: none;
    border-radius: 10px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.account-button button:hover {
    background-color: #fabd2f;
    transition: 0.3s;
}

.account-button button:not(:hover) {
    transition: 0.3s;
}

.watchlist-outside {
    border: 5px solid #fabd2f;
    border-radius: 30px;
    padding-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 2%;
    box-shadow: 0px 0px 30px #d79921;
    /* background-color: rgba(181, 118, 20, 0.1); */
    /* background-color: #3c3836; */
}

.watchlist-outside h2 {
    text-align: center;
    padding-left: 20%;
    color: #fabd2f;
}

.watchlist-outside h3 {
    text-align: center;
    padding-left: 50%;
    color: #b57614;
}

.watchlist-button {
    transform: translateX(15%);
    text-align: center;
}

.watchlist-button button {
    color: #fabd2f;
    background-color: #3c3836;
    border-radius: 0px;
    width: auto;
    border: none;
}

.watchlist-button button:hover {
    color: #cc241d;
    background-color: transparent;
    transition: 0.3s;
}

.watchlist-button button:not(:hover) {
    transition: 0.3s;
}

.watchlist-outside h2:hover {
    text-shadow: 0px 0px 7px #fabd2f;
    transition: 0.3s;
}

.watchlist-outside h2:not(:hover) {
    transition: 0.3s;
}

.watchlist-outside-image {
    padding-left: 0px;
}

.watchlist-image {
    background-color: rgba(181, 118, 20, 0.5);
    border-radius: 35%;
    padding: 3%;
    /* border: 5px solid #fabd2f; */
}

.button-home {
    border: 10px solid #d79921;
    background-color: #d79921;
    border-radius: 20px;
}

.button-home:hover {
    background-color: #b57614;
    transition: 0.3s;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 28px;
    margin-right: 28px;
}

.button-home:not(:hover)
{
    transition: 0.3s;
}

.watch-button:link, .watch-button:active, .watch-button:visited {
    color: #3c3836;
}

.loader {
    z-index: 69;
    background-color: rgba(28, 28, 28, 0.8);
    backdrop-filter: blur(18px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.loader img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#buy {
    display: none;
    position: fixed;
    top: 15%;
    bottom: 10%;
    left: 5%;
    right: 5%;
    background-color: #282828;
    border-radius: 30px;
}

.buy-name {
    padding-top: 30px;
    text-align: center;
    color: #fabd2f;
}

.buy-name h2 {
    color: #b57614;
}

.buy-price {
    color: #b57614;
    text-align: center;
}

.buy-form {
    text-align: center;
    width: 100%;
}

#buy-preview {
    color: #b57614;
}

#buy-popup {
    display: none;
    position: fixed;
    top: 30%;
    bottom: 30%;
    left: 40%;
    right: 40%;
    background-color: #282828;
    border-radius: 30px;
    border: 5px solid #d79921;
    box-shadow: 0px 0px 18px #3c3836;
}

.buy-popup {
    padding-top: 21%;
    color: #fabd2f;
    text-align: center;
    font-size: larger;
}

.buy-popup button {
    border: none;
    color: #fabd2f;
    background-color: #282828;
    font-size: large;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.buy-popup button:hover {
    color: #282828;
    background-color: #fabd2f;
}